/* 
-------------------------------------
--------- GENERAL SUPPORT -----------
-------------------------------------
*/

body {
  margin: 0;
  /* CORRECTION FOR NAVBAR HEIGHT: 50px */
  margin-top: 50px;
  padding: 0;
  /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",*/
  /*  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",*/
  /*  sans-serif;*/
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

/*code {*/
  /*font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",*/
  /*monospace;*/
/*}*/

ul {
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  padding-bottom: 2px;
}

h3, h4, h5, h6 {
  margin-block-start: 0;
  margin-block-end: 0;
}

a.link {
  color: rgb(0, 121, 211);
  opacity: .8;
  border-bottom: 2px solid transparent;
  padding-top: 4px;
  padding-bottom: 2px;
  -webkit-transition: border 0.3s ease;
  -o-transition: border 0.3s ease;
  transition: border 0.3s ease;
}
a.link:hover {
  opacity: 1;
  border-bottom: 2px solid rgb(78, 123, 193);
}
a {
  text-decoration: none;
  color: #121212;
}

sup {
  margin-top: 16px;
  margin-right: -10px;
  font-size: .75em;
  align-self: flex-start;
  font-weight: 800;
}
strong {
  font-weight: 600;
}

i.smaller {
  font-size: .9em;
}

/* ALERT BOX SUPPORT */
.alert-box {
  background-color: rgba(204, 45, 43, .2);
  border-radius: 4px;
  text-align: center;
  font-weight: 500;
  padding: 10px;
  margin: 15px;
}

/* SECTION SUPPORT */
.section { display: flex; }

.section.col { flex-direction: column; }
.section.row { align-items: center; }

.section .flex-1 { flex: 1; }
.section .flex-2 { flex: 2; }
.section .flex-3 { flex: 3; }
.section .flex-4 { flex: 4; }
.section .flex-6 { flex: 6; }
.section .flex-8 { flex: 8; }
.section .flex-9 { flex: 9; }
.section .flex-10 { flex: 10; }

.section.center { justify-content: center; }
.section.space { justify-content: space-between; }
.section.space-around { justify-content: space-around; }

.section .start { align-self: flex-start; }
.section .end { align-self: flex-end; }
.section.end { justify-content: flex-end; }

.hat { padding-top: 10px; }
.dbhat { padding-top: 20px; }
.floor { padding-bottom: 10px; }
.lift { margin-bottom: 10px; }
.pad { padding-left: 16px; }
.boxed {
  padding: 16px;
  border-radius: 10px;
  margin-top: 20px;
}
.underline {
  border-bottom: 1px solid black;
}
.display {
  margin: 2%;
  /*max-width: 800px;*/
  padding: 16px 4%;
  border-radius: 10px;
  margin-top: 20px;
  width: 87.5%;
  /*border: 4px solid rgb(176, 192, 255);*/
  border: 2px solid rgb(221,223,226);
  background-color: rgb(253, 254, 255);
}
.centered { margin: 0 auto; }

.section .flex-responsive {
  flex-direction: row;
  align-items: center;
}
@media only screen and (max-width: 650px) {
  .section .flex-responsive {
    flex-direction: column !important;
    font-size: .9em;
  }
}

/* NAVIGATION BAR SUPPORT */
.navbar {
  z-index: 10;
  font-size: .9em;
  width: 100%;
  height: 50px;
  overflow: hidden;
  background-color: rgb(31, 34, 46);
  background-color: rgb(0, 42, 64);
  background-color: rgb(34, 38, 51);
  /*background-color: rgb(18, 31, 86);*/
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  text-transform: uppercase;
}
.navbar-brand .icon {
  /*transition: all .5s ease-in-out !important;*/
  -webkit-transition: -webkit-transform .8s ease-in-out !important;
  -ms-transition: -ms-transform .8s ease-in-out !important;
  transition: transform .8s ease-in-out;
}
.navbar-brand .icon:hover {
  transform:rotate(45deg) !important;
  -ms-transform:rotate(45deg) !important;
  -webkit-transform:rotate(45deg) !important;
}
.navbar div {
  display: flex;
}
.navbar a {
  color: #f2f2f2;
  padding: 1rem;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.navbar a:hover {
  /*background: #EBEBEB;*/
  /*border-bottom: 7px solid rgb(78, 123, 193);*/
  border-bottom: 7px solid rgb(57, 147, 221);
  /*color: black;*/
  cursor: pointer;
}

/* TABLE SUPPORT */
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 8px;
}

/* FORM SUPPORT */
form {
  min-width: 260px;
  margin: auto auto;
}
input {
  border-radius: 4px;
  /*border: 1px solid #555;*/
  width: 100%;
  padding: 4px;
  margin-right: 6px;
  margin-top: 1px;
  box-sizing: border-box;
  font-size: .95em;
}
input:disabled {
  background: #dddddd;
}
.checkbox { width: 20px; }
label {
  text-align: right;
  /*clear: both;*/
  white-space: nowrap;
  float:left;
  margin-right:6px;
}
.styled-select {
  background: url(./assets/images/dropdown_arrow.png) no-repeat 120px -10px/50px 50px;
  height: 29px;
  overflow: hidden;
  margin-right: 12px;
  width: 160px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid transparent;
  background-color: #EFEFEF;
}
.styled-select:hover {
  border: 1px solid #121212;
  cursor: pointer;
}
.styled-select select {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: transparent;
  border: none;
  font-size: 14px;
  height: 29px;
  padding: 5px;
  width: 160px;
  color: #121212;
  font-weight: bold;
  text-transform: uppercase;
}
.footnote { font-size: .6em; }

/* BUTTON SUPPORT */
.btn:hover:not(:disabled) {
  opacity: 1;
  cursor: pointer;
}
.btn:focus { outline: none; }
.btn {
  border: none;
  /*display: inline-block;*/
  font-size: 1.05em;
  box-shadow: none;
  /*margin: 0 auto;*/
  border-radius: 4px;
  margin-right: 4px;
  margin-left: 4px;
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  color: #fff;
  opacity: 0.85;
}
.btn.small {
  padding: 8px 8px;
  font-size: .8em;
}
.btn:disabled {
  background-color: rgb(210, 210, 210);
}

/* COLOR SUPPORT */
.blue-alt { background-color: rgb(0, 121, 211); }
.blue { background-color: rgb(57, 147, 221); }
.yellow { background-color: rgb(253, 184, 51); }
.red { background-color: red; }
.lightgray { background-color: rgb(240, 241, 242); }
.gray { background-color: rgb(225, 225, 229); }
.darkgray { background-color: rgb(206, 206, 210); }
.checkered:nth-child(2n+1) {
  background-color: rgb(237,237,237);
}
/*.medgray { background-color: rgb(200, 200, 200); }*/

/* MODAL SUPPORT */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.modal-main {
  position:fixed;
  background: white;
  width: 70%;
  min-width: 784px;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  border-radius: 10px;
}
.modal-header {
  border-bottom: 1px solid rgb(234,234,234);
  padding: 10px;
}
.modal-subject {
  padding: 20px;
}
.modal-close-btn {
  cursor: pointer;
  font-size: 1.3em;
  padding: 2px;
  margin-right: 6px;
  text-align: center;
}
.display-block {
  display: inline-block;
}
.display-none {
  display: none;
}

/* TOOLTIP SUPPORT */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 180px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 8px;
    border-radius: 6px;
    font-size: .75em;
    position: absolute;
    z-index: 1;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* ALERT SUPPORT */
.alerts-overlay {
  position: absolute;
  z-index: 11;
  top: 50px;
  left: 33%;
  min-width: 200px;
  width: 25%;
  max-width: 400px;
}
.alerts-overlay:last-child {
  border-radius: 0 0 4px 4px;
}
.alert {
  padding: 10px;
  /*height: 50px;*/
  overflow: hidden;
  max-height: 0;
  animation: popdown 1s forwards;
}
.alert.success {
  color: rgb(82,124,74);
  background-color: rgb(226,240,217);
  border: 1px solid rgb(82,124,74);
  border-top: none;
}
@keyframes popdown {
	0% {
		max-height: 0;
	}
	100% {
		max-height: 50px;
	}
}



/* 
-------------------------------------
--------- COMPONENT STYLING ---------
-------------------------------------
*/


/* HUB STYLES */
.hub {
  width: 100vw;
  height: calc(100vh - 50px);
  display: flex;
}
/* --- SIDEBAR STYLES */
.sidebar {
  /*flex: 2;*/
  width: 13%;
  min-width: 180px;
  background-color: rgb(41, 46, 62);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media only screen and (max-width: 650px) {
  .sidebar {
    /*width: 6%;*/
    min-width: 100px;
    font-size: .75rem !important;
  }
}
.sidebar ul {
  list-style-type: disc;
  margin-left: 0;
  padding-left: 10px;
}
.sidebar ul li {
  margin-top: 14px;
  /*font-size: 1em;*/
}
.sidebar ul li .group {
  color: white;
  font-weight: bold;
}
.sidebar ul li .user {
  color: white;
  font-weight: bold;
}
.sidebar ul li .project { color: rgb(147, 150, 158); }
.sidebar a:hover { border-bottom: 1px solid #fff; }
.sidebar .bottom { padding-bottom: 14px; }

.sidebar .project-list {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height .7s;
  -o-transition: max-height .7s;
  transition: max-height .7s;
}
.sidebar .project-list.show {
  max-height: 80vh;
  overflow: scroll;
}
.sidebar .break {
  width: 50%;
  border: 1px solid rgb(147, 150, 158);
}

.expand-arrow {
  background: none;
  border: none;
	padding: 0;
	font: inherit;
	color: white;
}
.expand-arrow:hover {
  cursor: pointer;
  
}

/* --- SUBJECT STYLES */
.subject {
  width: 87%;
}
#subject-display {
  /* TODO: This is a mess. 82px = header, 50px = navbar. Fix. */
  height: calc(100vh - (82px + 50px));
  overflow: scroll;
  /*background-color: rgb(241,241,247);*/
  background-color: rgb(233,235,238);
}
.loading-wheel {
  margin: 0 auto;
  width: 50px;
  height: 50px;
}
.loading-wheel.medium {
  font-size: 1rem;
}
.subject .loading-wheel:not(.medium) {
  margin: 16% 47%;
  width: 50px;
  height: 50px;
}
.loading-wheel #spinner {
  transform-origin: 25px 25px;
  font-size: 3em;
  animation: loading-wheel-spin infinite 1.4s linear;
}
@keyframes loading-wheel-spin {
  from {
    opacity: .2;
    transform: rotate(0deg);
  }
  to {
    opacity: 1;
    transform: rotate(360deg);
  }
}

/* OPTIONS STYLES */
.options {
  display: flex;
  justify-content: space-between;
  height: 31px;
  padding-left: 6px;
  padding-right: 12px;
}
.header {
  border-bottom: 1px solid rgb(234,234,234);
  height: 81px;
  max-height: 81px;
}
#subject-title {
  font-size: 1.3em;
  margin: 0;
  margin-bottom: 6px;
}
.header .info {
  color: rgb(116,116,116);
  min-width: 98px;
}
/*@media only screen and (max-width: 600px) {*/
/*  .header .info {*/
/*    display: none;*/
/*  }*/
/*}*/
/* FOCUSBAR STYLES */
.focusbar {
  margin-left: 18px;
}
.tab {
  font-size: 1.3em;
  padding: 8px;
  padding-left: 12px;
  padding-right: 12px;
  /*margin-bottom: -6px;*/
  color: black;
}
.tab i { width: 20px; }
.tab:hover { border: 1px solid black; }
.tab:not(:hover) { border: 1px solid transparent; }
.tab.selected { border: 1px solid gray; }
/*.options .end { min-width: 196px; }*/
@media only screen and (max-width: 400px) {
  .tab {
    font-size: 1em;
    padding: 3px;
  }
  .tab i {
    width: 15px;
  }
}

/* SEARCHBAR STYLES */
.searchbar { position: relative; }
.searchbar input { padding-left: 26px; }
.searchbar .icon {
  position: absolute;
  opacity: .5;
  font-size: 1.2em;
  top: 7px;
  left: 5px;
}
.search label {
  font-size: .7em;
  font-weight: bold;
  color: rgb(124, 124, 124);
}

@media only screen and (max-width: 960px) {
  .search {
    display: none;
  }
}

/* TICKET STYLES */
.ticket {
  /*position: relative;*/
  /*height: 100%;*/
  height: 76px;
  /*max-height: 78px;*/
  overflow: hidden;
  width: 90%;
  min-width: 320px;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 10px;
  font-size: 1.3em;
  color: black;
  /*animation: slidefade 1s forwards;*/
}
@media only screen and (max-width: 850px) {
  .ticket .quote-num {
    display: none;
  }
  .ticket .info-proj {
    display: none;
  }
  .ticket .tag {
    display: none;
  }
}
.ticket.canceled .ticket-info {
  background-color: rgb(237,225,229);
}
.ticket .ticket-info {
  padding: 10px;
  background-color: rgb(255, 255, 255);
  /*border: 1px solid rgb(33, 33, 33);*/
  border: 1px solid rgb(221,223,226);
  
  border-radius: 10px 0 0 10px;
}
.ticket .vend-info {
  font-size: .95em;
  border-bottom: 1px solid rgb(80, 80, 82);
  padding-bottom: 1px;
}
.ticket .vend-info .quote-num { font-size: .85em; }
.ticket .submission-info {
  font-size: .8em;
  font-weight: 600;
  color: rgb(98,103,111);
  padding: 5px 0 2px 0;
}
.ticket .view-order {
  height: 100%;
}
.ticket .view-order .btn {
  height: 100%;
  border: 1px solid rgb(98,103,111);
  border-left: none;
  width: 100%;
  margin: 0;
  border-radius: 0 4px 4px 0;
}
.ticket .tag {
  /*position: absolute;*/
  /*top: -8px;*/
  /*right: 25%;*/
  max-height: 20px;
  text-align: center;
  font-size: .6em;
  padding: 2px 4px;
  border-radius: 4px;
}
@keyframes slidefade {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
@keyframes fade {
  0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* ORDER VIEW STYLES */
.order-view .items-table {
  padding: 0 16px;
}

/* LANDING STYLES */

/* COLORS VALUES IN USE:
red?: rgb(207, 74, 87);
blu2: rgb(57, 147, 221);

blue: rgb(0, 158, 237);
orange: rgb(244, 147, 56);
*/

.hero {
  width: 100vw;
  height: 80vh;
  border-bottom: 4px solid rgb(234,234,234);
  background: url(./assets/images/background-4.jpg) no-repeat 0 -90px;
  background-size: cover;
  animation: slidefade 1s forwards;
}
.content {
  margin: auto 11%;
  padding-bottom: 60px;
  font-weight: 400;
}
.highlight {
  margin: auto 30px;
  text-align: center;
  padding-bottom: 60px;
  font-weight: 400;
}
.content .title {
  font-size: 4.7em;
  font-weight: 800;
  color: rgb(0, 158, 237);
}
.content sup {
  color: rgb(57, 147, 221);
}
.content .subtitle {
  font-size: 1.3em;
  margin: 0;
  text-align: center;
  font-weight: 600;
  padding: 0 15px 20px 15px;
}
.section-title {
  font-size: 1.5em;
  text-align: center;
  font-weight: 600;
  padding-bottom: 15px;
}
.landing-icon {
  margin: 0 auto;
  width: 4rem;
  height: 4rem;
  font-size: 4rem;
  color: rgb(0, 158, 237);
  text-shadow: 2px 2px rgb(83,83,193);
}
.bubble {
  -webkit-transition: -webkit-transform 1s ease-in-out !important;
  -ms-transition: -ms-transform 1s ease-in-out !important;
  transition: transform 1s ease-in-out !important;
}
.bubble:hover {
  transform:scale(1.1) !important;
  -ms-transform:scale(1.1) !important;
  -webkit-transform:scale(1.1) !important;
}

/* DESCRIPTION STYLES */
.description {
  padding: 60px 8% 60px 8%;
  font-size: 1.3em;
}
.description .info {
  margin: 0;
  padding: 10px 0;
  text-align: left;
}
.description .landing-icon {
  /*color: rgb(133,133,193);*/
  padding: 50px;
}
.description .article {
  padding: 30px 30px;
  margin: 20px 0;
  background-color: rgb(237,237,237);
  border-radius: 12px;
}

/* HIGHLIGHTS STYLES */
.highlights {
  padding: 80px 8% 100px 8%;
  background-color: rgb(237, 237, 237);
}
.highlights .hat { padding-top: 20px; }
.highlights .content {
  padding: 0 30px 0 30px;
  width: 33%;
}
.highlights .name {
  font-size: 1.4em;
  font-weight: bold;
}
.highlights .section-title {
  font-size: 1.8em;
  padding-bottom: 30px;
}
.highlights .blurb {
  font-size: 14px;
  font-weight: 400;
  padding: 10px 5px 30px 5px;
}
.footer {
  border-top: 4px solid rgb(234,234,234);
  padding: 60px 0 60px 0;
}

/* AUTH FORM STYLES */
.quick .btn {
  width: 100px;
  opacity: 1 !important;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.log-in {
  background-color: transparent;
  /*border: 3px solid rgb(133,133,193);*/
  border: 3px solid rgb(37,65,178);
  /*color: rgb(133,133,193);*/
  color: rgb(37,65,178);
}
.log-in.btn:hover {
  /*border: 3px solid rgb(83,83,193);*/
  border: 3px solid rgb(51,90,244);
  /*color: rgb(83,83,193);*/
  color: rgb(51,90,244);
}
.sign-up {
  background-color: rgb(244, 147, 56);
  border: 3px solid rgb(244, 147, 56);
}
.sign-up.btn:hover {
  background-color: rgb(203, 117, 43);
  border: 3px solid rgb(203, 117, 43);
}
.auth-form {
  width: 40%;
  max-width: 500px;
}
.auth-form .btn {
  text-align: center;
}
.order-form-item {
  animation: slidefade 1s forwards;
}